<header class="header">
  <h1>{{title}}</h1>
  <input class="header-input" type="text" placeholder="Write a name" #newCard>
  <button (click)="addCard(newCard.value)">Add</button>
</header>

<div class="amount-card">
  <input placeholder="Write number" min="1" max="5" type="number" #Mynum>
  <button (click)="countEls(Mynum)">Count</button>
</div>



<section class="card-section">
  <div *ngFor="let card of Cards.slice(startIndex,endIndex);
        let i = index;
  ">
    <div class="card">{{card.label}}
      <p>{{card.text}}</p>
      <button (click)="deleteCard(card)">❌</button>
    </div>
  </div>
</section>



<div class="center">
  <ul #pagination class="pagination">
    <a (click)="updateIndex(j)" *ngFor="let i of getArrayFromNumber(Cards.length); let j = index" href="#">{{j+1}}</a>
  </ul>
</div>