body {
    background-color: green;
}

header {
    text-align: center;
    .header-input {
        margin-top: 25px;
        background-color: #f0f0f4;
        border-radius: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        outline: none;
        width: 25%;
        height: 50px;
    }

    .header-input::placeholder {
        color: #656464;
    }

    button {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #ffffff;
        background: green;
        border-radius: 3px;
        padding: 17px 41px;
        border: none;
        margin-left: -3px;
        cursor: pointer;
    }
}

.amount-card {
    text-align: center;

    input {
        margin-top: 25px;
        background-color: #f0f0f4;
        border-radius: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        outline: none;
        width: 10%;
        height: 50px;
    }

    input::placeholder {
        color: #656464;
    }

    button {
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #ffffff;
        background: green;
        border-radius: 3px;
        padding: 17px 10px;
        border: none;
        margin-left: -3px;
        cursor: pointer;
    }
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;

    .card {
        border: 1px solid black;
        width: 200px;
        height: 200px;
        white-space: normal;
        text-align: center;
        margin-top: 15px;
        border-radius: 3px;
        padding: 5px;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #ffffff;
        background: #1c62cd;
        padding: 17px 41px;
        border: none;
        cursor: pointer;
        overflow: hidden;
    }

    .card:hover {
        box-shadow: 0px 0px 15px rgba(10, 20, 40, 0.6);
        transition: all 0.3s;
        cursor: pointer;
    }

    .card:hover .delete-card-btn {
        opacity: 1;
    }
    .card:hover .editbtn{
        opacity: 1;
    }

    .delete-card-btn {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        outline: none;
        cursor: pointer;
        background-color: initial;
        border: 0;
        z-index: 10;
        opacity: 0;
    }

    .editinput{
        opacity: 0;
        width: 100px;
    }
    
    .okaybtn{
        opacity: 0;
        border: none;
        background: initial;
    }

    .editbtn{
        opacity: 0;
    }
    
}

.center {
    text-align: center;
}

