body {
    background-color: green;
}

header {
    text-align: center;
    .header-input {
        margin-top: 25px;
        background-color: #f0f0f4;
        border-radius: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        outline: none;
        width: 25%;
        height: 50px;
    }

    .header-input::placeholder{
        color: #656464;
    }

    button{
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: green;
        border-radius: 3px;
        padding: 17px 41px;
        border: none;
        margin-left: -3px;
        cursor: pointer;
    }
    

}



.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        border: 1px solid black;
        max-width: 200px;
        height: 200px;
        white-space: normal;
        text-align: center;
        margin-top: 15px;
        border-radius: 3px;
        padding: 5px;

        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #1C62CD;
        padding: 17px 41px;
        border: none;
        cursor: pointer;
    }
    
    .card:hover {
        box-shadow: 0px 0px 15px rgba(10, 20, 40, 0.6);
        transition: all 0.3s;
        cursor: pointer;
    }
    
  
}
